# Keil MDK build output
MDK-ARM/EthToRS485/
MDK-ARM/startup_stm32f407xx.lst

# Keil user-specific and transient files
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx
MDK-ARM/*.scvd
MDK-ARM/DebugConfig/
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkSettings.ini
